<!-- component -->
<nav class='flex justify-between px-20 py-10 items-center bg-white'>
  <h1 class='text-xl text-gray-800 font-bold'>Astro Auth</h1>
  <div class='flex items-center'>
    <ul class='flex items-center space-x-6'>
      <li class='font-semibold text-gray-700'>
        <a href='/'>Home</a>
      </li>
      <li class='font-semibold text-gray-700'>
        <a href='/protected'>Protected</a>
      </li>
      <li class='font-semibold text-gray-700'>
        <a href='/login'>Login</a>
      </li>
      <li class='font-semibold text-gray-700'>
        <a href='#'>Salir</a>
      </li>
    </ul>
  </div>
</nav>
