---
import { firebase } from '@/firebase/config'
import MainLayout from '@/layouts/MainLayout.astro'

export const prerender = false

const firebaseUser = firebase.auth.currentUser

if (!firebaseUser) {
  return Astro.redirect('/login')
}

const { displayName, email, emailVerified, photoURL } = firebaseUser

const userName = displayName ?? 'No display name'
---

<MainLayout>
  <div
    class='bg-gray-200 rounded-xl font-sans h-[600px] w-full flex flex-row justify-center items-center'
  >
    <div class='card w-96 mx-auto bg-white shadow-xl hover:shadow rounded'>
      {
        photoURL ? (
          <img
            class='w-32 mx-auto rounded-full -mt-20 border-8 border-white'
            src={photoURL}
            alt='Foto de perfil'
          />
        ) : (
          <div class='w-32 h-32 mx-auto rounded-full -mt-20 border-8 border-white bg-gray-300 flex justify-center items-center'>
            <span class='text-white text-3xl font-extrabold'>
              {userName!.substring(0, 2)}
            </span>
          </div>
        )
      }
      <div class='text-center mt-2 text-3xl font-medium'>{userName}</div>
      <div class='text-center mt-2 font-light text-sm'>{email}</div>
      <div class='px-6 text-center mt-2 font-light text-sm'>
        <p>{emailVerified ? 'Email verificado' : 'Email no verificado'}</p>
      </div>
      <div class='mt-8'></div>
    </div>
  </div>
</MainLayout>
